/*---------------Pagina Layout------------------------------------------------------*/

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    color: white;
}

body {
    background-color: rgb(0, 0, 0);
    margin: auto;
}

.container {
    position: relative;
}


.menu {
    width: 15%;
    height: 680px;
    /* centrado vertical */
    position: absolute;
}

.general__bienvenida {
    position: absolute;
    top: 0; /* Lo colocamos en la parte superior */
    right: 0; /* Lo colocamos en la parte derecha */
    width: 85%;
    height: 150px;
}

.general__bienvenida__logo {
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    margin-top: 1%;
}

.general__bienvenida__busqueda {
    position: absolute;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    top: 60px;
    right: 350px;
}


i img {
    height: 20px;
}

.hora {
    position: absolute;
    top: 0;
    align-items: center;
    margin-left: 2%;
    margin-top: 2%;
}



.contenido_general {
    margin-top: 150px;
    width: 85%;
    height: 520px;
    float: right;
    bottom: 20%;
}


/* Estilos para el reproductor de música en el footer */
.reproductor {
    width: 100%; /* Hacer que el div ocupe todo el ancho */
    background-color: black;
    border-top: 3px solid #291E31; /* Borde de 2 píxeles de ancho, sólido y de color rojo */
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-block-end: 0px;
    margin-inline-end: 0px;
}

footer .info {
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

footer .imgPlay {
    align-items: center;
    text-align: center;
}

footer .cancion-info p {
    color: #fff; /* Cambia el color del texto a tu elección */
}


footer .controles {
    display: flex; /* Para hacer que los botones se vean de forma horizontal */
    align-items: center; /* Alinea los botones verticalmente en el centro */
}


.me-gusta {
    margin-left: 10px;
}

footer .controles {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px
}

footer .barra-reproduccion {
    width: 60%;
    margin-left: 10px; /* Espacio entre los controles y la barra de reproducción */
}

/*footer .barra-reproduccion input[type="range"] {
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        height: 3px;*/ /* Cambia el grosor de la barra de reproducción */
/*background: #555;*/ /* Cambia el color de fondo de la barra de reproducción */
/*outline: none;
    }

        footer .barra-reproduccion input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 10px;*/ /* Cambia el tamaño del control deslizante */
/*height: 10px;*/ /* Cambia el tamaño del control deslizante */
/*background: #fff;*/ /* Cambia el color del control deslizante */
/*border-radius: 50%;
            cursor: pointer;
        }*/

/* Estilos para los botones de control (atras, play, pausa, siguiente) */
footer .controles button#play img {
    max-width: 20px; /* Ajusta el tamaño del ícono de reproducción */
}

.btn_play {
    margin-left: 5px;
}

.btn_siguiente {
    margin-left: 5px;
}

img {
    width: 100px;
    margin-right: 10px;
    margin-left: 10px
}

button {
    background: none; /* Elimina el fondo */
    border: none; /* Elimina el borde */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es un botón */
}

.imgAlbum {
    width: 75px;
    height: 70px;
    margin-left: 3%;
}

.biblioteca__album {
    margin-left: 5%;
    width: 150px; /* Ancho fijo de 200px */
    height: 68px; /* Altura fija de 100px */
    display: flex;
    align-items: center; /* Centra verticalmente */
}

    .biblioteca__album b {
        text-align: left; /* Alinea el texto a la izquierda */
    }

input[type="range"] {
    height: 3px;
    width: 100%;
    accent-color: #D4AF37;
}


.general__contenido__album {
    margin-top: 0 auto;
    width: 100%;
    height: 230px;
    float: right;
}
